.input {
	height: 50px;
	width: 80%;
	border-radius: 12px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	background: none;
	border: none;
	margin-left: 12px;
	/* flex에서 최대한 많은 자리를 가져감 */
	flex: 1;
}
input:focus {
	outline: none;
}

button {
	margin-right: 8px;
	background-color: rgb(214, 213, 213);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	height: 30px;
	width: 60px;
}
